body {
    background-image: url("./background.jpg");
    cursor: url('./rocketcolorcursor.png'), auto;	
} 

svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


#invaders{
  padding-left: 80px;
  float:left;
  padding-top: 1px;
}

#shoot {
  pointer-events: none;
}

#alien {
  pointer-events: none;
}

#do-not-enter {
  padding-left: 130px;
  float:left;
  pointer-events: none;
}

#rick-and-morty{
  pointer-events: none;
}

.Logo:hover{
  filter: 
    invert(0.5)
    sepia(1)
    hue-rotate(320deg)
    saturate(8)
    brightness(2);
}

.hyperspeed-button:hover{
  opacity: 0.7;
  filter: alpha(opacity=30);
}

.shoot-button:hover{
  opacity: 0.7;
  filter: alpha(opacity=30);
}

.earth-button:hover {
  opacity: 0.8;
  filter: alpha(opacity=30);
}

.cruise-button:hover {
  opacity: 0.8;
  filter: alpha(opacity=30);
}

.moon-button:hover {
  opacity: 0.8;
  filter: alpha(opacity=30);
}

.mars-button:hover {
  opacity: 0.8;
  filter: alpha(opacity=30);
}

.nasa-tv-button:hover {
  opacity: 0.8;
  filter: alpha(opacity=30);
}

.launches-button:hover {
  opacity: 0.8;
  filter: alpha(opacity=30);
}

.gotospace-button:hover {
  opacity: 0.8;
  filter: alpha(opacity=30);
}

.space-invaders-button:hover {
  opacity: 0.8;
  filter: alpha(opacity=30);
}

.launch-button:hover {
  opacity: 0.8;
  filter: alpha(opacity=30);
}

.abort-button:hover {
  opacity: 0.7;
  filter: alpha(opacity=30);
}

.blackhole-button:hover {
  opacity: 0.7;
  filter: alpha(opacity=30);
}

.roadster-button:hover {
  opacity: 0.7;
  filter: alpha(opacity=30);
}

.asteroid-belt-button:hover {
  opacity: 0.7;
  filter: alpha(opacity=30);
}

.flying-saucer-button:hover {
  opacity: 0.7;
  filter: alpha(opacity=30);
}

.clouds-button:hover {
  opacity: 0.7;
  filter: alpha(opacity=30);
}

.rick-and-morty-button:hover {
  opacity: 0.7;
  filter: alpha(opacity=30);
}

.space-cats-button:hover {
  opacity: 0.7;
  filter: alpha(opacity=30);
}

.do-not-enter-button:hover {
  opacity: 0.7;
  filter: alpha(opacity=30);
}

.space-walk-button:hover {
  opacity: 0.7;
  filter: alpha(opacity=30);
}

.astroid-hitting-earth-button:hover {
  opacity: 0.7;
  filter: alpha(opacity=30);
}

.neon-tunnel-button:hover {
  opacity: 0.7;
  filter: alpha(opacity=30);
}

.retro:hover {
  opacity: 0.7;
  filter: alpha(opacity=30);
}

.star-trek-button:hover {
  opacity: 0.7;
  filter: alpha(opacity=30);
}

.alien-button:hover {
  opacity: 0.7;
  filter: alpha(opacity=30);
}

.ocean-button:hover {
  opacity: 0.7;
  filter: alpha(opacity=30);
}

.futurama-button:hover {
  opacity: 0.7;
  filter: alpha(opacity=30);
}

